<?xml version="1.0"?>
<!--
/**
 * Mavenbird Technologies Private Limited
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://mavenbird.com/Mavenbird-Module-License.txt
 *
 * =================================================================
 *
 * @category   Mavenbird
 * @package    Mavenbird_ProductAttachment
 * @author     Mavenbird Team
 * @copyright  Copyright (c) 2018-2024 Mavenbird Technologies Private Limited ( http://mavenbird.com )
 * @license    http://mavenbird.com/Mavenbird-Module-License.txt
 */ 
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
		<update id="Magento_Backend::mbmenu" title="Mavenbird" module="Magento_Backend" sortOrder="10" resource="Magento_Backend::mbmenu" />

        <add id="Mavenbird_ProductAttachment::productattachment" title="Product Attachment" module="Mavenbird_ProductAttachment" sortOrder="1000" resource="Mavenbird_ProductAttachment::productattachment" parent="Magento_Catalog::catalog"  />
		
		<add id="Mavenbird_ProductAttachment::manage_attachment_catalog" title="Manage Attachment" module="Mavenbird_ProductAttachment" sortOrder="50" parent="Mavenbird_ProductAttachment::productattachment" action="productattachment/productattachment" resource="Mavenbird_ProductAttachment::manage_attachment"/> 	    
   	    
		<add id="Mavenbird_ProductAttachment::configuration_syatem" title="Configuration" module="Mavenbird_ProductAttachment" sortOrder="50" parent="Mavenbird_ProductAttachment::productattachment" action="adminhtml/system_config/edit/section/ProductAttachment/" resource="Mavenbird_ProductAttachment::configuration" />

		<add id="Mavenbird_ProductAttachment::Heading" title="Product Attachment" module="Mavenbird_ProductAttachment" sortOrder="1000" resource="Mavenbird_ProductAttachment::productattachment" parent="Magento_Backend::mbmenu"  />
		
		<add id="Mavenbird_ProductAttachment::manage_attachment" title="Manage Attachment" module="Mavenbird_ProductAttachment" sortOrder="50" parent="Mavenbird_ProductAttachment::Heading" action="productattachment/productattachment" resource="Mavenbird_ProductAttachment::manage_attachment"/> 	    
   	    
		<add id="Mavenbird_ProductAttachment::configuration" title="Configuration" module="Mavenbird_ProductAttachment" sortOrder="50" parent="Mavenbird_ProductAttachment::Heading" action="adminhtml/system_config/edit/section/ProductAttachment/" resource="Mavenbird_ProductAttachment::configuration" />
	</menu>
</config>
